<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Xciel Extension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).XcielSelectRegionCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).XcielSelectRegionCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Select</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).XcielDeleteRegionCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).XcielDeleteRegionCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Delete</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).XcielCommentOutRegionCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).XcielCommentOutRegionCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Comment Out</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).XcielSelectRegionGreedilyCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).XcielSelectRegionGreedilyCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Select (Greedy)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).XcielDeleteRegionGreedilyCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).XcielDeleteRegionGreedilyCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Delete (Greedy)</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).XcielCommentOutRegionGreedilyCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).XcielCommentOutRegionGreedilyCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Comment Out (Greedy)</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Takuma Matsushita. All rights reserved.</string>
</dict>
</plist>
